{% extends 'basewelcome.html' %}

{% block welcome %}

<div class="content_sign_up">
    <!-- <h1>register</h1> -->
    <div class="form_sign_up">
        <h1>register</h1>
        <form class="form-sign_up" method = "POST">
            {% csrf_token %}

            <label class="space_top" for="username">Username</label>
            <input type="text" name="username" id="username">

            <label class="space_top" for="password1">Password</label>
            <input type="password" name="password1" id="password1">

            <label class="space_top" for="password2">Confirm Password</label>
            <input type="password" name="password2" id="password2">

            {% if error %}
            <small>
                {{ error }}
            </small>
            {% endif %}

            <input class="space_top width_btn" type="submit" value="register">
        </form>

    </div>
    <div class="space_top">
        <a href="{% url 'accounts_homepage' %}"><button>back to home page</button></a>
    </div>
</div>

{% endblock %}