.navigation_bar {
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-around;
    border-radius: 10%;
 }
 a:link {
   text-decoration: none;
 } 
a:visited {
   color: brown;
}