.review_posts {
    border: solid black;
    background-color: rgb(122, 144, 79);
    margin-top: 10px;
}
.ticket_posts {
    border: solid black;
    background-color: cadetblue;
    margin-top: 10px;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.titles-posts {
    display: flex;
    justify-content: center;  
}
.center_btn {
    display: flex;
    justify-content: center;
}
.btn_posts {
    height: 30px;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.x {
    margin-left: 30px;
    margin-top: 5px;
}
.content_review_comment {
    display: flex;
    flex-direction: column;
    background-color: yellowgreen;
    border: solid black;
    padding: 10px 10px 10px 10px ;
    margin-top: 20px;
    margin-bottom:20px ;
    margin-left: 10px;
    margin-right:10px ;
}
.title_post_ticket_title {
    font-size: larger;
    font-weight: bold;
}