{% extends 'base.html' %}

{% block content %}

<div class="principal_btn_flux">
    <button><a href="{% url 'reviews-new_ticket' %}">Create Ticket</a></button>
    <button><a href="{% url 'reviews-new_review' %}">Write Review</a></button>
</div>

{% for post in ss %}

    {% if post in ff %}

        <div> author ticket : {{ post.user.username }}</div>
        <div>date of creation : {{ post.time_created }}</div>
        <div>title : {{ post.title }}</div>
        <div>body : {{ post.description }}</div>
        <button><a href="#">A</a></button>
    <button><a href="#">B</a></button>

    {% elif post in f %}

        <div> author review : {{ post.user.username }}</div>
        <div>date of creation : {{ post.time_created }}</div>
        <div>stars : {{ post.rating }}</div>
        <div>headline : {{ post.headline }}</div>
        <div>body : {{ post.body }}</div>
        <div>{{ post.ticket.user }}</div>
        <div>{{ post.ticket.time_created }}</div>
        <div>{{ post.ticket.title }}</div>
        <div>{{ post.ticket.description }}</div>
        <button><a href="#">A</a></button>
    <button><a href="#">B</a></button>

    {% endif %}
{%  endfor %}

{% endblock %}
