{% extends 'base.html' %}

{% block content %}
    <h1 class="titles-posts">Posts Personal</h1>

    <h2 class="titles-posts">reviews</h2>
    {% for post in review %}

    <article class="review_posts">
        <h3>You posted a review, date of creation : {{ post.time_created }}</h3>
        <div class="x">review headline : {{ post.headline }}</div>
        <div class="x">rating : ({{ post.rating }}/5)</div>
        <div class="x">general comment : {{ post.body }}</div>
        
        <div class="content_review_comment">
            <div class="title_post_ticket_title">title of the book/article I am reviewing : {{ post.ticket.title }}</div>
            <div>Description : {{ post.ticket.description }}</div>
        </div>

        <div class="center_btn">
            <button class="btn_posts"><a href="{% url 'review-edit' post.id %}" type="submit">Edit</a></button>
            <button class="btn_posts"><a href="{% url 'review-delete' post.id %}" type="submit">Delete</a></button>
        </div>
    </article>
    {% endfor %}

    <h2 class="titles-posts">tickets</h2>
    {% for post in ticket %}

    <article class="ticket_posts">
        <div class="x">You posted a ticket, date of creation : {{ post.time_created }}</div>
        <div class="x">Title : {{ post.title }}</div>
        <div class="x">Description : {{ post.description }}</div>

        <div class="center_btn">
            <button class="btn_posts"><a href="{% url 'ticket-edit' post.id %}" type="submit">Edit</a></button>
            <button class="btn_posts"><a href="{% url 'ticket-delete' post.id %}" type="submit">Delete</a></button>
        </div>

    </article>
    {% endfor %}
{% endblock %}