{% extends 'base.html' %}

{% block content %}
    <h1 class="titles-posts">Posts Personal</h1>

    <h2 class="titles-posts">reviews</h2>
    {% for post in review %}

    <article class="review_posts">
        <div>{{ post.time_created }}</div>
        <div>{{ post.headline }}</div>
        <div>({{ post.rating }}/5)</div>
        <div>{{ post.body }}</div>
        <div>{{ post.ticket.user }}</div>
        <div>{{ post.ticket.time_created }}</div>
        <div>{{ post.ticket.title }}</div>
        <div>{{ post.ticket.description }}</div>

        <div class="center_btn">
            <button class="btn_posts"><a href="{% url 'review-edit' post.id %}" type="submit">Edit</a></button>
            <button class="btn_posts"><a href="{% url 'review-delete' post.id %}" type="submit">Delete</a></button>
        </div>
    </article>
    {% endfor %}

    <h2 class="titles-posts">tickets</h2>
    {% for post in ticket %}

    <article class="ticket_posts">
        <div>{{ post.time_created }}</div>
        <div>{{ post.title }}</div>
        <div>{{ post.description }}</div>

        <div class="center_btn">
            <button class="btn_posts"><a href="{% url 'ticket-edit' post.id %}" type="submit">Edit</a></button>
            <button class="btn_posts"><a href="{% url 'ticket-delete' post.id %}" type="submit">Delete</a></button>
        </div>

    </article>
    {% endfor %}
{% endblock %}