{% extends 'base.html' %}

{% block content %}
    <h1>posts</h1>

    <h2>review</h2>
    {% for post in review %}

    <article>
        <div>{{ post.time_created }}</div>
        <div>{{ post.headline }}</div>
        <div>({{ post.rating }}/5)</div>
        <div>{{ post.body }}</div>
        <div>{{ post.ticket.user }}</div>
        <div>{{ post.ticket.time_created }}</div>
        <div>{{ post.ticket.title }}</div>
        <div>"{{ post.ticket.description }}"</div>

        <button><a href="{% url 'review-edit' post.id %}" type="submit">Edit</a></button>
        <button><a href="{% url 'review-delete' post.id %}" type="submit">Delete</a></button>
    </article>
    {% endfor %}

    <h2>ticket</h2>
    {% for post in ticket %}

    <article>
        <div>{{ post.time_created }}</div>
        <div>{{ post.title }}</div>
        <div>{{ post.description }}</div>
        <button><a href="{% url 'ticket-edit' post.id %}" type="submit">Edit</a></button>
        <button><a href="{% url 'ticket-delete' post.id %}" type="submit">Delete</a></button>

    </article>
    {% endfor %}
{% endblock %}