{% extends 'base.html' %}

{% block content %}

<div class="content_repond_ticket">
    <article class="article_ticket">
        <p>Resume Ticket : </p>
        <div class="v">Date of creation : {{ ticket.time_created }}</div>
        <div class="v">Username : {{ ticket.user.username }}</div>
        <div class="v"> Title : {{ ticket.title }}</div>
        <div class="v">Description : {{ ticket.description }}</div>
    </article>

    <form method="POST">
        {% csrf_token %}

        <h4>critique : </h4>
        {{ r_form.as_p }}
        
        <button  type="submit">Post</button>

    </form>
</div>
{% endblock %}