{% extends "base.html" %}
{% block content %}

<div class="content_create_review">
    <h1 class="title_new_review">New Review</h1>

    <form method="POST">
        {% csrf_token %}

        <div class="b">
            <h1 class="center">article/book</h1>
            {{ t_form.as_p }}
        </div>

        <div class="a">
            <h1 class="center">critique</h1>
            {{ r_form.as_p }}
            
            <div class="c">
                <button  class="btn_create_review" type="submit">Post</button>
                <button class="btn_create_review"><a  href="{% url 'reviews-main' %}">Cancel</a></button>

            </div>
        </div>
    </form>
</div>
{% endblock content %}