{% extends 'base.html' %}

{% block content %}

<h1>subscriptions</h1>

<h4>Follow other users</h4>
<form method="POST">
{% csrf_token %}

{{ form.as_p }}

{% if error %}
<small style="color: brown;">
    {{ error }}
</small>
{% endif %}

<input type="submit" value="Send" />
</form>


<h4>Following</h4>
{% for relation in relations %}
{{ relation.followed_user.username }}
<input type="submit" value="Unfollow" />
{% endfor %}


<h4>Users</h4>
{% for user in users %}
{{ user.username }}
{% endfor %}


{% endblock %}